<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{ 'favicon.ico' | theme_image_url }}">

        <title>{{ title }}</title>

        {% assets filters="libsass", output="dist/css/design.css", "css/index.css.scss" %}
            {{ 'dist/css/design.css' | stylesheet_tag }}
        {% endassets %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <div class="container">
            <div class="jumbotron">
                <h1>Dutch or Deutsch?</h1>
                <img src="https://maps.googleapis.com/maps/api/streetview?size=600x300&location=46.414382,10.013988&heading=151.78&pitch=-0.76" />
                <div class="row">
                    <div class="col-xs-6"><button class="btn bnt-default">Dutch</button></div>
                    <div class="col-xs-6"><button class="btn bnt-default">Deutsch</button></div>
                </div>
            </div>
        </div> <!-- /container -->


    </body>
</html>

