<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="{{ 'favicon.ico' | theme_image_url }}">

      <title>{{ title }}</title>

      {% assets filters="libsass", output="dist/css/design.css", "css/index.css.scss" %}
          {{ 'dist/css/design.css' | stylesheet_tag }}
      {% endassets %}

      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>
    <body data-ng-app="dodApp">               
      <div class="container" data-ng-controller="QuizCtrl">
        <div class="row center">
          <h1><img src="{{ 'img/logo_.png' | theme_image_url }}" class="logo" alt=""></h1>
        </div>

        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="img-wrapper center">
              <img data-ng-src="{% raw %}{{ quiz.img_src }}{% endraw %}" />
            </div>
          </div>
        </div>  <!-- end row -->

        <div class="row" data-ng-hide="quiz.answer">
          <div class="col-xs-6 center">
            <img src="{{ 'img/dutch.png' | theme_image_url }}" alt="" class="selector" data-ng-click="submit('dutch')">
           </div>
           <div class="col-xs-6 center">        
            <img src="{{ 'img/deutsch.png' | theme_image_url }}" alt="" class="selector" data-ng-click="submit('deutsch')">
          </div>
        </div> <!-- end row -->

        <div class="row" data-ng-show="quiz.answer">
          <div class="alert" role="alert" data-ng-class="{'alert-success': quiz.result == true, 'alert-danger': quiz.result == false}">
            <span data-ng-show="quiz.result"><span class="glyphicon glyphicon-ok"></span> D&uuml;nnerlittchen, correct! Fluitje van een cent...</span>
            <span data-ng-hide="quiz.result"><span class="glyphicon glyphicon-remove"></span> Ook dat nog - incorrect! Machen Sie es nochmal!</span>
          </div>
        </div> <!-- end row -->
      </div> <!-- end container -->
      {% assets output="dist/js/app.js", "bower_components/angular/angular.min.js", "js/app.js" %}
          {{ 'dist/js/app.js' | javascript_tag }}
      {% endassets %}
    </body>
</html>
